<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/details.css">
</head>
<% if (user) { %>
<body id="body" onload="getMovie('<%=user.colorScheme%>', true)">
<% } else { %>
<body id="body" onload="getMovie('none', false)">
<% } %>
  <script type="text/javascript" src="details.js"></script>
    <div id="container">
        <i id="heart" class="fa fa-heart-o fa-3x" onclick="makeFavorite()">
        <span id="hover-content">
        </span>
        </i>
        <div id="movie" class="well"></div>
        
        <div id="leave-review"><span onclick="getReviewForm()">+</span>Leave A Review</div>
        <% if (user) { %>
            <input type="text" id="favsLength" hidden value="<%=favorites.length%>">
        <%  if (favorites) { 
                for (favorite of favorites) { %>
                    <input type="text" hidden class="srcHolder" value="<%=favorite.showURL%>">
        <%      }
            }
        }          
        if (reviews.length > 0) { %>
        <h3>User Reviews</h3>
        <div id="reviews">
            <% for (review of reviews) { %>
                <div class="individual-review">
                    <div class="review-rating"><span class="fa fa-star stars"></span><%=review.rating%>/10</div>
                    <% if (review.spoilers) {%>
                        <div class="review-spoilers">*Contains Spoilers*</div>
                    <% } %>
                    <div class="review-headline"><%=review.headline%></div>
                    <div class="review-date"><%=review.date%></div>
                    <div class="review-review"><%=review.review%></div>
                </div>
        <%     } %>
            </div>
        <%  }%>
    </div>
    <div id="snackbar"></div>
    <input type="text" hidden id="movieId" value="<%=movieId%>">
</body>
<script>
  
  function getReviewForm() {
    var img = document.getElementById("img").src;
  
    //get all the information that I will pass ass parameters to the route handler
    window.location.href = '../../review/' + 
    document.getElementById("title").innerHTML + "/" + 
    document.getElementById("date").innerHTML.split(" ")[2] + "/" +  encodeURIComponent(img) +
    "/" + document.getElementById("movieId").value;
}

function deleteToast() {
    var isFavorite = document.getElementById("heart").classList.contains("fa-heart-o");

    var toast = document.getElementById("snackbar");

    // Add the "show" class to DIV
    toast.className = "show";
    toast.innerHTML = (isFavorite ? "Removed from favorites" : "Added to favorites");
    toast.style["backgroundColor"] = "turquoise";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 3000);
}

function makeFavorite() {
    var heart = document.getElementById("heart");
    if (heart.classList.contains("fa-heart-o")) {
      heart.classList.remove("fa-heart-o");
      heart.classList.add("fa-heart");
      document.getElementById("hover-content").innerHTML = "Remove from favorites"
    } else {
      heart.classList.remove("fa-heart");
      heart.classList.add("fa-heart-o");
      document.getElementById("hover-content").innerHTML = "Add to favorites"
    }
    var add = (heart.classList.contains("fa-heart") ? 'yes' : 'no');
    window.location.href = "../../../auth/addFavorites/" + encodeURIComponent(document.getElementById("img").src) +
    "/" + add;
    deleteToast();
}

function getMovie(color, isUser) {
    
    let movieId = document.getElementById("movieId").value;
    console.log(movieId);
    axios.get('https://www.omdbapi.com/?i='+movieId+'&apikey=b85b1f97&')
        .then((response) => {
        console.log(response);
        let movie = response.data;
        if (isUser)
            loadHeart(movie.Poster);
        
        let output =`
            <div class="main-container">
            <div class="movieImg">
                <input type="text" hidden id="imgSrc" value="${movie.Poster}">
                <img src="${movie.Poster}" id="img">
            </div>
            <div class="movie-details">
                <h2 id="title">${movie.Title}</h2>
                <div id="movie-details-list">
                <div class="movie-info" id="top"><strong class="labels">Genre:</strong> ${movie.Genre}</div>
                <div class="movie-info"><strong class="labels">Released:</strong><span id="date">${movie.Released}</span></div>
                <div class="movie-info"><strong class="labels">Rated:</strong> ${movie.Rated}</div>
                <div class="movie-info"><strong class="labels">IMDB Rating:</strong> ${movie.imdbRating}</div>
                <div class="movie-info"><strong class="labels">Director:</strong> ${movie.Director}</div>
                <div class="movie-info"><strong class="labels">Writer:</strong> ${movie.Writer}</div>
                <div class="movie-info" id="bottom"><strong class="labels">Actors:</strong> ${movie.Actors}</div>
                </div> 
            </div>
            </div>
            <div class="row">
            <div class="well">
                <div id="plot">
                <h3>Plot</h3>
                ${movie.Plot}
                </div>
                <a href="/" id="back">Go Back To Search</a>      
            </div>
        </div>`;

        $('#movie').html(output);
        })
        .catch((err) => {
        console.log(err);
        });   
        
        switch(color) {
            case 'blue':
                blueTheme();
                break;
            case 'white':
                whiteTheme();
                break; 
            default:
                darkTheme();
                break;       
        }
}

function loadHeart(movieSRC) {
    document.getElementById("hover-content").innerHTML = "Add to favorites"
    if (document.getElementById("favsLength").value > 0) {
        var thisMovieIsFound = false;
        var heart = document.getElementById("heart");
        var favs = document.getElementsByClassName("srcHolder");
        for (fav of favs) {
            if (fav.value == movieSRC) {
                thisMovieIsFound = true;
                heart.classList.remove("fa-heart-o");
                heart.classList.add("fa-heart");
                document.getElementById("hover-content").innerHTML = "Remove from favorites"
            }
        }
        if (!thisMovieIsFound) {
            if (heart.classList.contains("fa-heart")) {
                heart.classList.remove("fa-heart");
                heart.classList.add("fa-heart-o");
            }
        }
    }
}

function blueTheme() {
    document.getElementById("container").style.backgroundColor = "steelblue";
    document.getElementById("body").style.backgroundColor = "navy";
    document.getElementById("back").style.backgroundColor = "lightskyblue";
}
function whiteTheme() {
    document.getElementById("container").style.backgroundColor = "rgba(1,1,1,0.2)";
    document.getElementById("body").style.backgroundColor = "white";
    document.getElementById("back").style.backgroundColor = "turquoise";
    document.getElementById("leave-review").style.color = "black";
}
function darkTheme() {
    document.getElementById("container").style.backgroundColor = "rgb(43,41,41)";
    document.getElementById("body").style.backgroundColor = "black";
    document.getElementById("back").style.backgroundColor = "gray";
    document.getElementById("leave-review").style.color = "white";
}

</script>
</html>